@model CheckoutCompletedModel
@using Nop.Web.Models.Checkout;
@{
    Layout = "~/Views/Shared/_Root.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
}
<div class="shopping_state">
    <div class="shopping_state_cont">
        <ul class="shopping_state_ul clear">
            <li class="state1">
                <div>
                    <div class="state1_pic"><img src="~/Themes/houdongfang/Content/images/ty1.jpg" /></div>
                    1.购物车列表
                </div>
            </li>
            <li class="state2">
                <div>
                    <div class="state1_pic"><img src="~/Themes/houdongfang/Content/images/ty2.jpg" /></div>
                    2.填写核对订单信息
                </div>
            </li>
            <li class="state3">
                <div>
                    <div class="state1_pic"><img src="~/Themes/houdongfang/Content/images/ty3.jpg" /></div>
                    <div class="line"></div>
                    3.成功提交订单
                </div>
            </li>
        </ul>
    </div>
    <div class="page checkout-page">
        @if (!Model.OnePageCheckoutEnabled)
        {
            @Html.Action("CheckoutProgress", "Checkout", new { step = CheckoutProgressStep.Complete })
        }
        <div class="page-title">
            <h1>@T("Checkout.ThankYou")</h1>
        </div>
        <div class="page-body checkout-data">
            <div class="section order-completed">
                <div class="title">
                    <strong>@T("Checkout.YourOrderHasBeenSuccessfullyProcessed")</strong>
                </div>
                <ul class="details">
                    <li>
                        @T("Checkout.OrderNumber"): @Model.OrderId
                    </li>
                    <li>
                        <a href="@Url.RouteUrl("OrderDetails", new { orderID = Model.OrderId })">@T("Checkout.PlacedOrderDetails")</a>
                    </li>
                </ul>
                <div class="shopping_inner_sub">
                    <input type="button" value="@T("Checkout.ThankYou.Continue")" class="button-2 order-completed-continue-button" onclick="setLocation('@Url.RouteUrl("HomePage")')" />
                </div>
            </div>
        </div>
    </div>

</div>
