@model ProductReviewsModel
@using Nop.Web.Models.Catalog;
<ul class="review_cont">
    @foreach (var review in Model.Items)
    {
        int ratingPercent = review.Rating * 20;
        <li class="clear">
            <div class="review_cont_user">
                <img src="@review.AvatarUrl">
                <h2>@review.CustomerName</h2>
                <h3>@review.WrittenOnStr</h3>
            </div>
            <div class="review_cont_text">
                <div class="product-review-box">
                    <div class="rating">
                        <div style="width: @(ratingPercent)%">
                        </div>
                    </div>
                </div>
                <p>
                    @Html.Raw(Nop.Core.Html.HtmlHelper.FormatText(review.ReviewText, false, true, false, false, false, false))
                </p>
            </div>
        </li>
    }
</ul>

