@model ChangePasswordModel
@using Nop.Web.Models.Customer;
@{
    Layout = "~/Themes/houdongfang/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
}
@section left
{
    @Html.Partial("MyAccountNavigation", Model.NavigationModel, new ViewDataDictionary())
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="profile_slidebar_right">
        <div class="profile_slidebar_right2">
            <div class="checkout_title">
                @T("Account.ChangePassword")
                <label />
            </div>
            <div class="message-error">
                @Html.ValidationSummary(true)
            </div>

            @if (!String.IsNullOrEmpty(Model.Result))
            {
                <div class="result">
                    @Model.Result
                </div>
            }
            <div class="form-fields">
                <div class="profile_cmb1">
                    @Html.LabelFor(model => model.OldPassword, new { @class = "profile_cmb1_left" }, ":")
                    @Html.EditorFor(model => model.OldPassword)
                    <div class="profile_cmb1_right">
                        @Html.RequiredHint()
                        @Html.ValidationMessageFor(model => model.OldPassword)
                    </div>
                </div>
                <div class="profile_cmb1">
                    @Html.LabelFor(model => model.NewPassword, new { @class = "profile_cmb1_left" }, ":")
                    @Html.EditorFor(model => model.NewPassword)
                    <div class="profile_cmb1_right">
                        @Html.RequiredHint()
                        @Html.ValidationMessageFor(model => model.NewPassword)
                    </div>
                </div>
                <div class="profile_cmb1">
                    @Html.LabelFor(model => model.ConfirmNewPassword, new { @class = "profile_cmb1_left" }, ":")
                    @Html.EditorFor(model => model.ConfirmNewPassword)
                    <div class="profile_cmb1_right">
                        @Html.RequiredHint()
                        @Html.ValidationMessageFor(model => model.ConfirmNewPassword)
                    </div>
                </div>
            </div>
            <div class="profile_cmb2">
                <input type="submit" class="profile_cmb1_sub1" value="@T("Account.ChangePassword.Button")" />
            </div>
        </div>
    </div>
}