@model RegisterModel
@using Nop.Web.Models.Customer;
@{
    Layout = "~/Themes/houdongfang/Views/Shared/_Root.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Register").Text);
    var loginUrl = Url.RouteUrl("Login");
}
@if (Model.CountryEnabled && Model.StateProvinceEnabled)
{
    <script type="text/javascript">
        $(function () {
            $("#@Html.FieldIdFor(model => model.CountryId)").change(function () {
                var selectedItem = $(this).val();
                var ddlStates = $("#@Html.FieldIdFor(model => model.StateProvinceId)");
                var statesProgress = $("#states-loading-progress");
                statesProgress.show();
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: "@(Url.RouteUrl("GetStatesByCountryId"))",
                    data: { "countryId": selectedItem, "addEmptyStateIfRequired": "true" },
                    success: function (data) {
                        ddlStates.html('');
                        $.each(data, function (id, option) {
                            ddlStates.append($('<option></option>').val(option.id).html(option.name));
                        });
                        statesProgress.hide();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve states.');
                        statesProgress.hide();
                    }
                });
            });
        });
    </script>
}
<div class="sigin">
    <div class="sigin_ban"></div>
    <div class="entry">
        <div class="entry_logo"><img src="~/Themes/houdongfang/Content/Images/footer_logo@2x.png" /></div>
        <div class="entry_1 clear">
            <div class="entry_1T"><a href="@loginUrl">@T("Account.Login")</a></div>
            <div class="entry_1B">注册</div>
            <div class="entry_line2"></div>
        </div>
        <div class="entry_3">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="entry_email">
                    <div class="entry_email_pic"><i class="iconfont">&#xe619;</i></div>
                    @Html.EditorFor(model => model.Email)
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
                <div class="entry_word">
                    <div class="entry_email_pic"><i class="iconfont">&#xe61a;</i></div>
                    @Html.EditorFor(model => model.Password)
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
                <div class="entry_word">
                    <div class="entry_email_pic"><i class="iconfont">&#xe61a;</i></div>
                    @Html.EditorFor(model => model.ConfirmPassword)
                    @Html.ValidationMessageFor(model => model.ConfirmPassword)
                </div>
                if (Model.DisplayCaptcha)
                {
                    <div class="captcha-box">
                        @Html.Raw(Html.GenerateCaptcha())
                    </div>
                }
                if (Model.AcceptPrivacyPolicyEnabled)
                {
                    <script type="text/javascript">
                        $(document).ready(function () {
                            $('#register-button').click(function () {
                                if ($('#accept-privacy-policy').is(':checked')) {
                                    //do some stuff
                                    return true;
                                }
                                else {
                                    //just show validation errors, dont post
                                    alert('@Html.Raw(HttpUtility.JavaScriptStringEncode(T("Account.Fields.AcceptPrivacyPolicy.Required").Text))');
                                    return false;
                                }
                            });
                        });
                    </script>
                    <div class="accept-privacy-policy">
                        <input id="accept-privacy-policy" type="checkbox" name="accept-privacy-policy" />
                        <label for="accept-privacy-policy">@T("Account.Fields.AcceptPrivacyPolicy")</label>
                        <a class="read" href='@Url.RouteUrl("Topic", new { SystemName = "privacyinfo" })'>@T("Account.Fields.AcceptPrivacyPolicy.Read")</a>
                    </div>
                }
                <div class="entry_btn">
                    <input type="submit" id="register-button" class="button-1 register-next-step-button" value="@T("Account.Register.Button")" name="register-button" />
                </div>
            }
            <div class="entry_ready">点击注册登录按钮，表示您已同意<a href="">用户使用条款</a></div>
        </div>
    </div>
</div>
