@model AdminHeaderLinksModel
@using Nop.Web.Models.Common;

<div class="nav">
    <div class="logo"><a href="index.html"><img src="~/Themes/houdongfang/Content/Images/logo@2x.png"></a></div>
    <ul class="nav_title clear">
        <li><a href="/store">在线商城</a></li>
        <li><a href="#">线下商城</a></li>
        <li><a href="/live">后东方博客</a></li>
        <li><a href="/art">关于后东方</a></li>
    </ul>
    <div class="shopping clear search-box">
        @Html.Action("SearchBox", "Catalog")
    </div>
    <ul class="userpanel clear">
        <li>
            @if (Model.IsCustomerImpersonated || Model.DisplayAdminLink)
            {
                if (Model.IsCustomerImpersonated)
                {
                    <span class="impersonate">
                        <i class="iconfont"></i>
                        @string.Format(T("Account.ImpersonatedAs").Text, Model.ImpersonatedCustomerEmailUsername)
                        - <a href="@Url.RouteUrl("Logout")" class="finish-impersonation" title="@T("Account.ImpersonatedAs.Finish.Hint")">@T("Account.ImpersonatedAs.Finish")</a>
                    </span>
                }
                if (Model.DisplayAdminLink)
                {
                    <a href="@Url.Content("~/admin")"><i class="iconfont"></i>@T("Account.Administration")</a>
                }
            }
        </li>

        @Html.Action("HeaderLinks", "Common")
        @Html.Action("FlyoutShoppingCart", "ShoppingCart")
    </ul>
</div>

