@model AdminHeaderLinksModel
@using Nop.Web.Models.Common;

<div class="admin-header-links-wrapper">
    <div class="admin-header-links">
        <div class="header-menu">
            <ul class="top-menu">
                <li><a href="/">后东方</a></li>
                <li><a href="/store">在线商城</a></li>
                @*<li><a href="/aid">助学基金</a></li>*@
                <li><a href="/live">生活馆</a></li>
                <li><a href="/art">美术馆</a></li>
                <li>
                    @if (Model.IsCustomerImpersonated || Model.DisplayAdminLink)
                    {
                        if (Model.IsCustomerImpersonated)
                        {
                    <span class="impersonate">
                        @string.Format(T("Account.ImpersonatedAs").Text, Model.ImpersonatedCustomerEmailUsername)
                        - <a href="@Url.RouteUrl("Logout")" class="finish-impersonation" title="@T("Account.ImpersonatedAs.Finish.Hint")">@T("Account.ImpersonatedAs.Finish")</a>
                    </span>
                        }
                        if (Model.DisplayAdminLink)
                        {
                    <a href="@Url.Content("~/admin")">@T("Account.Administration")</a>
                        }
                    }
                </li>
            </ul>
        </div>
        <div class="header-links-wrapper">
            @Html.Action("HeaderLinks", "Common")
            @Html.Action("FlyoutShoppingCart", "ShoppingCart")
        </div>
        <div class="search-box">
            @Html.Action("SearchBox", "Catalog")
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $(window).scroll(function () {
            var scrollTop = $(window).scrollTop();
            if (scrollTop != 0)
                $('.admin-header-links-wrapper').stop().animate({ 'opacity': '0.3' }, 400);
            else
                $('.admin-header-links-wrapper').stop().animate({ 'opacity': '1' }, 400);
        });

        $('.admin-header-links-wrapper').hover(
            function (e) {
                var scrollTop = $(window).scrollTop();
                if (scrollTop != 0) {
                    $('.admin-header-links-wrapper').stop().animate({ 'opacity': '1' }, 400);
                }
            },
            function (e) {
                var scrollTop = $(window).scrollTop();
                if (scrollTop != 0) {
                    $('.admin-header-links-wrapper').stop().animate({ 'opacity': '0.3' }, 400);
                }
            }
        );
    });
    $('li', '.top-menu').on('mouseenter', function () {
        $('a', $(this)).first().addClass('hover');
        if (!$(this).parent().hasClass('top-menu')) {
            var width = $(this).innerWidth();
            $('.sublist', $(this)).first().css('left', width + 15);
        }
        $('.sublist', $(this)).first().addClass('active');
        $('.top-menu-triangle', $(this)).addClass('active');
        $('.top-menu-triangle-border', $(this)).addClass('active');
    });
    $('li', '.top-menu').on('mouseleave', function () {
        $('a', $(this)).first().removeClass('hover');
        $('.sublist', $(this)).first().removeClass('active');
        $('.top-menu-triangle', $(this)).removeClass('active');
        $('.top-menu-triangle-border', $(this)).removeClass('active');
    });
</script>