@model Nop.Admin.Models.Catalog.ProductModel
@Html.ValidationSummary(false)
@Html.HiddenFor(model => model.Id)

<div class="checkout_title">
    商品信息
    <label></label>
</div>
<div class="profile_cmb1">
    <div class="profile_cmb1_left">商品名称</div>
    @Html.EditorFor(model => model.Name)
    <div class="profile_cmb1_right">
        @Html.RequiredHint()
    </div>
</div>
<div class="profile_cmb1">
    <div class="profile_cmb1_left">简短说明</div>
    @Html.EditorFor(model => model.ShortDescription)
    <div class="profile_cmb1_right">
        @Html.RequiredHint()
    </div>
</div>
<div class="profile_cmb1">
    <div class="profile_cmb1_left">规格</div>
    @Html.EditorFor(model => model.Sku)
</div>
<div class="profile_cmb1">
    <div class="profile_cmb1_left">商品数量</div>
    @Html.EditorFor(model => model.StockQuantity)
    <div class="profile_cmb1_right">
        @Html.ValidationMessageFor(model => model.StockQuantity)
    </div>
</div>
<div class="profile_cmb1">
    <div class="profile_cmb1_left">商品价格(元)</div>
    @Html.EditorFor(model => model.Price)
    <div class="profile_cmb1_right">
        @Html.ValidationMessageFor(model => model.Price)
    </div>
</div>
<div class="profile_cmb1">
    <div class="profile_cmb1_left">详细信息</div>
    @Html.EditorFor(x => x.FullDescription, "RichEditor")
    <div class="profile_cmb1_right">
        @Html.ValidationMessageFor(model => model.FullDescription)
    </div>
</div>
